<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
        <header>
                <h1>Sequence</h1>
             <nav>
                <ul>
                <li ><a  routerLink="/register" ariaCurrentWhenActive="page">
                        register </a></li>
                <li ><a  routerLink="/login" ariaCurrentWhenActive="page">
                        Login </a></li>
                </ul>       
                <!-- <li class=" me-2  "><a class="text-decoration-none  text-secondary" routerLink="/proyectos"
                        ariaCurrentWhenActive="page"> Proyectos </a></li> -->
                
             </nav>   
        </header>
        <main>
                
                <article>
                        <div class="article-h ah1">JavaScript diagramming library <span>powering exceptional UIs</span></div>
                        <div class="article-h ah2">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br> Doloribus, accusantium?
                        </div>
                          <div class="botones">
                          <div class="bt bt1">
                                <a  routerLink="/register" ariaCurrentWhenActive="page" class="bt-h1">REGISTRARSE</a>
                          </div>
                          <div class="bt bt2">
                                <a routerLink="/login" ariaCurrentWhenActive="page" class="bt-h2">ACCEDER</a></div>
                        </div> 
                
                </article>
                <aside>
                   <img src="assets/secuenciap.png">
                </aside>
                
        </main>
        <footer>
                <div class="fotter_h">
                       <img src="assets/oracle.png"   />
                </div>
                <div class="fotter_h">
                        <img src="assets/boieng.png"   />
                 </div>
                 <div class="fotter_h">
                        <img src="assets/uipat.png"   />
                 </div>
                 
                 <div class="fotter_h">
                        <img src="assets/samsung.png"   />
                 </div>
                 
                 <div class="fotter_h">
                        <img src="assets/intel.png"   />
                 </div>


        </footer>
        
</body>
</html>
          





